<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>fluxnova-release-parent</id>
            <username>${env.GITHUB_ACTOR}</username>
            <password>${env.GH_TOKEN}</password>
        </server>
        <server>
            <id>ossrh</id>
            <username>${env.CI_DEPLOY_USERNAME}</username>
            <password>${env.CI_DEPLOY_PASSWORD}</password>  <!-- TODO: better to use token here, find out more -->
        </server>
    </servers>
</settings>
