name: Deploy Fluxnova release parent

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.ref == 'refs/heads/main' && format('ci-default-branch-{0}-{1}', github.sha, github.workflow) ||
    format('ci-pr-{0}-{1}', github.ref, github.workflow) }}
  cancel-in-progress: true

jobs:
  build:
    name: Build and Deploy
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Java setup
        uses: ./.github/actions/java-setup

      # The hardcoded version will be dynamically set in release workflows later
      - name: Set version
        uses: ./.github/actions/set-project-version
        with:
          version: 1.0.0-SNAPSHOT

      - name: Deploy
        run: mvn -B -e clean deploy
